/bin
/Heuristic-Random.txt
/evaluation-Heuristic.txt
/evaluation-Random.txt
/evaluation-evaluation.txt
/MinMax-Random.txt
/MinMax-evaluation.txt
/MinMax-Heuristic.txt
/MinMax-MinMaxOnHeuristic.txt
